<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body style="background-color: #070707;">
    <%- include('../partials/navbar'); %>
    <%- include('../partials/index'); %>
    <%- include('../partials/footer'); %>
    <%- include('../partials/scripts'); %>
  </body>
</html>
